body{
	background: rgb(50, 172, 160);
	padding: 15px 20px 20px 20px;
	margin: 0;
	font-style: italic;
}
p{
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-family:#;
}
h1{
	color: rgb(255, 255, 255);
	font-family: Arial;
	border-bottom: 2px solid green;
}
	

h1{
	font-size: 35px;
}
#heading{
	font-size: 2.1em;
	color: rgba(255, 255, 255, 0.9);
	font-style: italic;
	text-align: center;
	margin-bottom: 25px;
	background: green;
	border-radius: 21px 21px 21px 21px;
	box-shadow: 23px 23px 18px 7px rgba(5, 6, 5, 0.2);
	padding: 12px;
	font-family:# ;
}
.note{
	color: white;
	border: 5px dotted; green;
	background: rgb(18, 199, 169);
	margin-top: 90px;
	margin-bottom: 0px;
	padding: 18px;
	text-align: center;
}
article{
	max-width: 500px;
	margin: 0 auto;
}
.test1{
	text-align: center;
	font-family: ;
}
.flag{
	word-spacing: 5px;
}
.test2{
	text-align: center;
	text-shadow:#;
}
	











